@use "../abstracts" as *;

#header {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid $header-outline;
  border-radius: $radius;
  padding: 1em 1.5em;
  .card-names {
    display: flex;
    flex-direction: column;
    user-select: none;
    span {
      font-size: 1.5em;
      font-weight: 600;
      line-height: 0.9;
    }
  }
  .mode {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    border: 2px solid $header-outline;
    gap: 1px;
    border-radius: $radius;
    overflow: hidden;
    @include mq("sm") {
      flex-direction: column;
    }
    a {
      padding: 0.7em;
      font-size: 1.5em;
      font-weight: 600;
      line-height: 0.9;
      color: var(--random-color);
      background-color: transparent;
      cursor: pointer;
      @include mq("sm") {
        font-size: 1.2em;
        text-align: center;
      }
      @include on-event() {
        background-color: var(--random-color);
        color: $white;
      }
      &.active {
        background-color: var(--random-color);
        color: $white;
      }
    }
  }
  .score {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border: none;
    gap: 0.1em;
    padding: 1em 2em;
    border-radius: $radius;
    cursor: pointer;
    transition: $delay;
    @include on-event() {
      box-shadow: 0 5px 15px 0 $dark-text;
      outline: none;
      border-top-left-radius: 0em;
      border-bottom-right-radius: 0em;
    }
    @include mq("sm") {
      padding: 0.8em 1.2em;
    }
    span {
      color: $dark-text;
      &#score-text {
        font-size: 1em;
        font-weight: 600;
        letter-spacing: 0.1em;
      }
      &#score {
        font-size: 3em;
        font-weight: 700;
      }
    }
    .save {
      position: absolute;
      width: 1.5em;
      bottom: 0.5em;
      right: 0.5em;
    }
  }
}
