// This file contains the styling for the main page of the application.
@use "../abstracts" as *;

#main-page {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto 1fr;
  font-size: 1rem;
  gap: 2em;
  height: 100vh;
  height: 100dvh;

  $colors: (
    1: $scissors-gradient-start,
    2: $cyan-start,
    3: $paper-gradient-start,
    4: $lizard-gradient-start,
    5: $rock-gradient-start,
  );
  @include mq("md") {
    font-size: 0.8rem;
    gap: 10em;
  }
  @include mq("sm") {
    font-size: 0.8rem;
    gap: 2em;
  }
  .header {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid $header-outline;
    border-radius: $radius;
    padding: 1em 1.5em;
    .card-names {
      display: flex;
      flex-direction: column;
      span {
        font-size: 1.5em;
        font-weight: 600;
        line-height: 0.9;
      }
    }
    .score {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $white;
      gap: 0.1em;
      padding: 1em 2.5em;
      border-radius: $radius;
      span {
        color: $dark-text;
        &#score-text {
          font-size: 1em;
          font-weight: 600;
          letter-spacing: 0.1em;
        }
        &#score {
          font-size: 3em;
          font-weight: 700;
        }
      }
    }
  }
  .cards {
    --width: 180px;
    display: grid;
    grid-template-columns: repeat(2, calc(var(--width) * 1.5));
    gap: 0em 4em;
    justify-content: center;
    grid-template-areas:
      "scissors scissors"
      "spock paper"
      "lizard rock";
    background: url("./images/bg-pentagon.svg") no-repeat center center / 21em;
    position: relative;
    &.active {
      --width: 300px;
      margin-top: 10em;
      background: none;
      grid-template-columns: repeat(2, calc(var(--width) * 1.2));
      @include mq("lg") {
        --width: 250px;
        margin-top: 5em;
      }
      @include mq("md") {
        --width: 200px;
        grid-template-columns: repeat(2, var(--width));
      }
      @include mq("sm") {
        --width: 160px;
        grid-template-columns: repeat(2, var(--width));
      }
    }
    &.finish {
      grid-template-columns: auto minmax(137px, 218px) auto;
      grid-template-areas: "selected game-over bot";
      // @include mq() {

      // }
      @include mq(900px) {
        // grid-template-columns: repeat(auto-fit, minmax(137px, 1fr));
        grid-template-columns: repeat(2, var(--width));
        grid-template-areas:
          "selected bot"
          "game-over game-over";
        row-gap: 4em;
        column-gap: 10em;
      }
      @include mq(600px) {
        column-gap: 3em;
      }
      @include mq("sm") {
        column-gap: 2em;
      }
    }
    @include mq("md") {
      --width: 160px;
    }
    @include mq("sm") {
      --width: 120px;
      column-gap: 0.5em;
    }
    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--width);
      height: var(--width);
      background-color: $white;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: inset 0 5px 10px 0 rgba(0, 0, 0, 0.2),
        0 5px 10px 0 rgba(0, 0, 0, 0.2);
      position: relative;
      transition: $delay;
      color: var(--color);
      border: calc(var(--width) / 9) solid var(--color);
      @include on-event {
        box-shadow: inset 0 5px 10px 0 rgba(0, 0, 0, 0.2),
          0 5px 10px 0 currentColor;
        outline: none;
        img {
          rotate: 360deg;
          scale: 1.2;
          transition: $delay;
        }
      }
      &.hide {
        opacity: 0;
        display: none;
      }
      &.active {
        cursor: default;
        user-select: none;
        pointer-events: none;
        .text {
          display: block;
        }
      }
      &.win {
        --outline-width: 5em;
        --animation-duration: 2s;
        $color: rgba(245, 245, 245, 0.055);
        outline: 0 solid $color;
        position: relative;
        animation: win var(--animation-duration) ease-in-out infinite;
        @include mq("lg") {
          --outline-width: 4em;
        }
        @include mq("md") {
          --outline-width: 3.5em;
        }
        @include mq("sm") {
          --outline-width: 3em;
        }
        &::after,
        &::before {
          content: "";
          position: absolute;
          background-color: rgba(245, 245, 245, 0.055);
          border-radius: 50%;
          z-index: -1;
        }
        &::after {
          --size: 70%;
          animation: pseudo-win var(--animation-duration) infinite ease-out;
        }
        &::before {
          --size: 100%;
          animation: pseudo-win var(--animation-duration) infinite ease-out;
        }
      }
      &#scissors {
        grid-area: scissors;
        margin-inline: auto;
        margin-bottom: -5%;
      }

      &#paper {
        margin-left: auto;
        margin-bottom: 3em;
        grid-area: paper;
        @include mq("sm") {
          margin-bottom: 2em;
        }
      }
      &#lizard {
        margin-left: auto;
        grid-area: lizard;
      }
      &#rock {
        margin-right: auto;
        grid-area: rock;
      }

      &#spock {
        grid-area: spock;
      }
      &#scissors,
      &#paper,
      &#lizard,
      &#rock,
      &#spock {
        &.active {
          margin: 0;
          margin-right: auto;
        }
      }
      &.bot {
        grid-area: bot;
        margin-left: auto;
        cursor: default;
        user-select: none;
        pointer-events: none;
        .text {
          display: block;
        }
      }
      img {
        width: calc(var(--width) / 2.5);
        transition: scale $delay;
      }
      .text {
        display: none;
        position: absolute;
        font-size: 1.4em;
        font-weight: 600;
        letter-spacing: 0.1em;
        top: -50%;
        left: 50%;
        width: max-content;
        transform: translateX(-50%);
        color: $white;
        text-shadow: 0 0 5px $dark-text;
        @include mq("sm") {
          font-size: 1em;
        }
      }
    }
    #game-over {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1em;
      grid-area: game-over;
      max-width: max-content;
      margin-inline: auto;
      span {
        font-size: 3.5em;
        width: max-content;
        @include mq("xl") {
          font-size: 3em;
        }
        @include mq("lg") {
          font-size: 2.5em;
        }
        @include mq("md") {
          font-size: 5em;
        }
      }
      button {
        display: block;
        width: 100%;
        padding-block: 0.5em;
        border-radius: 5px;
        border: 2px solid $white;
        background-color: $white;
        color: $dark-text;
        cursor: pointer;
        transition: $delay;
        @include on-event {
          background-color: transparent;
          color: $white;
        }
      }
    }
  }
  .rules-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 50px;
    @include mq("sm") {
      justify-content: center;
    }
  }
  #rules-btn {
    $random-color: map-get($colors, round(random() * 5) + 1);
    padding: 0.6em 2.4em;
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    font-weight: 600;
    border-radius: 8px;
    &:focus {
      outline: 2px dotted $random-color;
    }
    @include btn-border-drawing($header-outline, $random-color, 2px, top, left);
  }
  #rules {
    display: none;
    grid-template-areas:
      "title exit"
      "rules rules";
    row-gap: 3em;
    padding: 2em;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    border-radius: $radius;
    z-index: 2;
    @include mq("md") {
      min-width: 30em;
    }
    @include mq("sm") {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate(0, 0);
      border-radius: 0;
      grid-template-areas:
        "title"
        "rules"
        "exit";
    }
    h2 {
      font-size: 2em;
      color: $dark-text;
      grid-area: title;
      @include mq("sm") {
        font-size: 4em;
        text-align: center;
        align-self: center;
      }
    }
    #close {
      grid-area: exit;
      background: none;
      border: none;
      display: block;
      width: fit-content;
      margin-left: auto;
      cursor: pointer;
      @include mq("sm") {
        margin-inline: auto;
        align-self: start;
        svg {
          scale: 2;
        }
      }
      @include on-event {
        outline: none;
        svg {
          opacity: 1;
        }
      }
      svg {
        margin-right: 10px;
        opacity: 0.25;
        transition: opacity $delay;
      }
    }
    img {
      grid-area: rules;
      width: 100%;
      min-width: 20em;
    }
  }
  .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    // z-index: -1;
  }
}

@keyframes win {
  0% {
  }
  20% {
    outline-width: 0;
  }
  90% {
    outline-color: rgba(245, 245, 245, 0.055);
  }
  100% {
    outline-width: var(--outline-width);
    outline-color: rgba(245, 245, 245, 0.007);
  }
}
@keyframes pseudo-win {
  0% {
  }
  20% {
    width: 0;
    height: 0;
  }
  80% {
    background-color: rgba(245, 245, 245, 0.055);
  }
  100% {
    width: calc(var(--size) * 2 + 100%);
    height: calc(var(--size) * 2 + 100%);
    background-color: transparent;
  }
}
