@use "../abstracts" as *;

.original {
  grid-template-areas:
    "paper scissors"
    "rock rock";
  background: url("./images/bg-triangle.svg") no-repeat center center / 21em;
  margin-top: 4em;
  .card {
    &#scissors {
      margin-bottom: 5em;
      margin-inline: auto;
    }

    &#paper {
      margin-inline: auto;
    }
    &#rock {
      margin-inline: auto;
    }
  }
}
